header{
  display: flex;
  justify-content: space-between;
  
}


*{

  box-sizing: border-box;
}

body{
font-family: 'raleway'; 
margin-left: 5%;
margin-right: 4%;
}


a{
  text-decoration: none;
}

#logo img {
width: 15%;
}


nav ul
{
list-style-type: none;
display: flex;

}

nav a
{
  padding-top: 20px;
  font-size: 0.8em;
  text-decoration: none;
  color: rgb(87, 85, 85);
  margin-right: 40px;
  
}



.menu{

display: flex;
}


nav a:hover
{
  color: #0065FC;
    font-weight: bold;
    background: transparent;
    transform: scale(1.03);
    border-top: blue solid 2px;     
    
}

.nav{
font-size: 1.2em;

}

.inscription {

  padding-top: 20px;
  font-size: 1em;
  text-decoration: none;
  
  
}

.inscription:hover{
  color: #0065FC;
  font-weight: bold;
  background: transparent;
  transform: scale(1.03);
  border-top: blue solid 2px;  

}

.inscription a{

color:#0065FC;
font-weight:700;
}

header span {

margin-right: 8em;

}


h1{
font-size: 2em;

}


.barrederecherche{

border-right: none;
border-left: none;
border-top: #F2F2F2 1px solid;
border-bottom: #F2F2F2 1px solid;
padding: 0 1.5em;
width: 15em;
font-size: 1em;
height: 3.5em;
}

.boutonrecherche{
background-color: #0065FC;
color: white;
border: none;
border-radius: 0 1rem 1em 0;
padding: 0 1.5em;
font-size: 1em;
cursor: pointer;
height: 3.5em;
font-weight: bold;
}

::placeholder{

color: rgb(0, 0, 0);
font-weight: bold;
}


.filtres p{
font-weight: bold;
}


.lignefiltres{
display: flex;
margin-left: 10px;
padding-top: 40px;

}


.icone i{

background-color: rgb(205, 212, 201);
border: 0px solid ;
padding: 20px;
border-radius:0.8rem 0 0 0.5rem ;
color: black;
}

p{
  margin-bottom: 2em;
}

.afficherplus {
  margin-right: 100px;
  font-weight: 700;
}


.blocmain{
background-color: rgb(214, 211, 211);
border-radius: 1em;
width: 700px;
height: 500px;
}


.fas{
  color: #0065FC;
  }



.fas.fa-info{

  border: 0.15rem solid rgb(214, 201, 201);
  border-radius: 50%;
  padding: 0.3em;
  margin: 0.5em;
  width: 30px;
  display: inline-block;
  height: 30px;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
}


.lignefiltres i {
  content: "\f53a";
  color: #0065FC;
  border-radius: 15em;
  padding: 15px;
  background: #DEEBFF;
  margin-top: px;
  margin-left: -4.5px;
        }


        
.touslesfiltres span{

  border: 1.8px rgb(223, 223, 223) solid;
      border-radius: 5em;
      height: 50px;
      padding-right: 2rem;
      padding-left: 0.14rem;
      font-weight: 700;
      display: inline-block;
      margin-right: 2.5rem;
}

.touslesfiltres{

margin-left: 9rem;

}



.hebergementetpopulaire {
  display: flex;
  justify-content: space-between;
  width: 94%;
  }

  h2{
font-size: 1em;
 }





.hebergement{
  background-color: #F2F2F2;
  border-radius: 1.25rem;
  width: 68%;
  height: 51%;
}

.hbgtitre{
  margin-left: 30px;
}

.marseille{
display: flex;
flex-wrap: wrap;
align-content: space-around;
justify-content: space-around;
padding: 10px;
}

.hbg{
background-color: white;
border-radius: 1.25rem;
box-shadow: 0 0 16px grey;
cursor: pointer;
margin:0.8em;
padding:0.2em
}

a{

color:black ;
}

.hotel{
border-radius: 1.25em 1.25em 0em 0em;
width: 300px;
height: 150px;
object-fit: cover;
}


h3{
color: black;
font-size: 1.1em;
margin: 0em 0em 0em 15px;
}

.etoiles{
  
  margin:  0em 35px 0px 15px;
  padding-bottom: 15px;
}


.hbg p{
margin: 0px 0 0px 15px;
color: black;
font-size: 15px;
}

 .etoilegris i{
color: gray;

 } 

 .afficherplus{

  font-size: 1.2em;
  margin-right: 38em;

 }

 /* Aside Les plus populaires debut*/

 .fas.fa-chart-line{
  color: black;
  padding-left: 15em;
  }


.plusPopulaires{
background-color: #F2F2F2;
border-radius: 1.25rem;
width: 30%;
}

.plusPopulaires h2{
  padding-left: 2em;
  }

h4{
  padding-top: 25px;
}


.blockPopu{
display: flex;
background-color: white;
border-radius:1.3em;
margin:1em; 
margin-top: 2em;
}

.texteplusPopulaires h3{
margin: 20px 0px 0px 15px;
}

.imageplusPopulaires{

width: 140px;
height: 170px;
border-radius: 1.25em 0 0 1.25em;
object-fit: cover;
padding: 0.3em;
}

.star{
 margin: 70px 0 0 15px;
}

.texteplusPopulaires p{
margin: 10px 0 0 15px;
}

  /* Aside Les plus populaires Fin*/


  /* Activités */





.touslesblocksactivites{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 496px;
  margin-right: 70px;
  margin-bottom: 100px;
  margin-left: -40px;
}

.blockactivites{

  width: 22%;


}




figure{

background-color: white;
border-radius: 1.25rem;
box-shadow: 0 1px 2px #cac8c8;
cursor: pointer;
padding-bottom: 15px;

}

figcaption{

  padding-left: 15px;
  padding-top: 15px;
  font-weight: bold;

}

.activitesTitre{
color: black;
font-size: 1.3em;
font-weight: 600;
}

.activites1image{
width: 300px;
height: 415px;
object-fit: cover;
border-radius: 1.25rem 1.25rem 0 0;
}







.activites2image{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activites3image{
  width: 300px;
  height: 125px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activites4image{
  width: 300px;
  height: 415px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}



.activites5image{
  width: 300px;
  height: 100px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;

}


.activites6image{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}




footer{
background-color: #F2F2F2;
display: flex;
justify-content: space-around;
padding-right: 5em;

}


h5{
  font-size: 1em;
  margin-bottom: 10px;
}



.footer-links{
list-style-type: none;
line-height: 27px;
text-decoration: none;

}


footer{

color: black;

}


@media screen and (max-width:768px){
  

body{

width: 100%;


}


  header{
   
    max-width: 100%;
    margin:auto
  }

  
  main{
    max-width: 100%;
    margin:auto;
    display: block; 
  }

  .lignefiltres{

    display: block;
    margin: 1%;
    overflow: hidden;
  }

  #logo img{
    width: 35%;
    margin-top: 5%;
  }

  .h1{

max-width: 100%;

  }

}

